# LaTeX artefacts
*.aux
*.log
*.out
*.synctex.gz

# Obsidian workspace (local only)
JEPA notes/.obsidian/workspace.json
JEPA notes/.obsidian/workspace-mobile.json

# Datasets et checkpoints
data/
*.pth
*.ckpt
*.safetensors

# Notebooks artefacts
.ipynb_checkpoints/
__pycache__/
*.pyc

# Environnement
.venv/
.env
